.imageone
{
    width:20%;
    height:20%;
    border-radius: 40px;
}
.imagetwo
{
    width:20%;
    height:20%;
    border-radius: 40px;
}
.imagethree
{
    width:20%;
    height:20%;
    border-radius: 40px;
}